.profile__editbottom {
    padding-top: 10px;
    width: 18px;
    height: 18px;
    display: flex;
    align-content: center;
    cursor: pointer;
}
@media (min-width: 768px) {
    .profile__editbottom {
        padding-top: 16px;
        width: 24px;
        height: 24px;
    }
}