.profile__addbottom {
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 36px;
    cursor: pointer;
    border: none;
    background-color: #000000;
}
@media (min-width: 768px){
    .profile__addbottom {
        margin: 0;
        padding-top: 30px;
        width: 150px;
        height: 50px;
    }
}
@media (min-width: 1024px){
    .profile__addbottom {
        padding-top: 34px;
    }
}