.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #545454;
}
@media (min-width: 1280px) {
    .header {
        margin: 0 auto;
        max-width: 880px;
    }
}