.popup__name {
    padding: 0;
    margin: 75px 22px 0;
    width: 230px;
    height: 27px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
@media (min-width: 1024px) {
    .popup__name {
        margin: 75px 36px 0;
        width: 354px;
        height: 14px;
    }
}