.popup__image-container {
    position: relative;
    min-width: 240px;
    min-height: 321px;
    border-radius: 10px;
    background: #FFFFFF;
    z-index: 11;
}

@media (min-width: 1024px) {
    .popup__image-container {

    }
}